@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.bg-feat {
  background: url('/images/col-feat.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-dots li.slick-active button:before {
    color: #966E49 !important;
 }